body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif
}

.container {
	max-width: 1024px;
	margin: 0 auto;
}

.row {
	display: flex;
}

/* Header */

header {
	background-color: #3b5998;	
	height: 82px;
	border-bottom: 1px solid #133783;
	font-size: 12px;
}

#logo {
	flex: 65%;
	align-self: flex-end;
	margin: 0 0 20px 5px;
}

#login {
	flex: 35%;
	color: white;
	padding-top: 15px;
}

.login-field {
	width: 142px;
	border: 1px solid #1d2129;
	margin: 5px 15px 5px 0;
}

.forget_account_color {
	color: #8ca5ba
}

#login-button {
	align-self: center;
	background-color: #29487d;
	color: white;
	border-color: #29487d;
}


/* Main */

main {
	background-color: #edf0f5;
	display: flex;
}

#connect {
	flex: 60%;
	/* padding: 2em; */
}

#sign-up {
	flex: 40%;
	/* padding: 2em; */
}

#connect ul {
	list-style: none;
}

#connect li {
	display: flex;
	align-items: center;
}

#connect img {
	padding: 15px 25px;
}


/* Footer */

footer ul {
    list-style: none;
}

footer ul li {
    display: inline;
}

#more-languages {
    position: relative;
    top: 10px;
}

/* sign up */

.heading-2{
	font-size: 19px;
	font-family: 'Freight Sans', Helvetica, Arial, sans-serif !important;
	font-weight: normal;
	color: #333
}
.form-input {
	height: 50px;
	width: 172px;
	margin: 5px 5px 5px 5px;
}

::placeholder {
	font-size: 20px;
}

.col-sign_up {
	display: inline-flex;
	flex-direction: column;
	
}

.length_email_pass{
	width: 350px;
	height: 40px;
}

.size_name {
	height: 40px;
}

.margin {
	margin: 10px 5px 5px 5px;
}

.size-data {
	width: 400px;
}

.font-data {
	font-size: 11px;
	color: #777;

}
a:hover {
	text-decoration: underline;
}
.deco-none {
	text-decoration: none;
	font-size: 11px;
	color: #365899
}

.row {
	display: flex;
}

.button-sign_up {
	font-size: 19px;
	color: white;
	width: 200px;
	height: 50px;
	background: linear-gradient(#67ae55, #578843);
	background-color: #69a74e;
	font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
	font-weight: bold;
	border-radius: 10px;
}

.font-3 {
	text-decoration: none;
	color: #365899;
	font-size: 13px;
}

.font-4 {
	font-size: 13px;
}